/* app css stylesheet */

body {
    padding-bottom: 20px;
}

header {
    margin-top: 20px;
    text-align: center;
    opacity: .8;
    width: 100%;
}

header img {
    max-width: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hide {
    display: none;
}

#construction.toeUp {
    display: block !important;
}

#heel-choice.cuffDown {
    display: block !important;
}

#calculator.toeUp #toe-up-recipe,
#calculator.toeUp #shared-recipe {
    display: block !important;
}

#calculator.cuffDown.shortRow #shared-recipe,
#calculator.cuffDown.flap #shared-recipe,
#calculator.cuffDown.shortRow #cuff-down-recipe,
#calculator.cuffDown.flap #cuff-down-recipe {
    display: block !important;
}

#calculator.cuffDown.shortRow #shortRowInstructions,
#calculator.cuffDown.flap #flapInstructions,
#calculator.toeUp #shortRowInstructions {
    display: block !important;
}

.shortRow .flapAbbr,
.toeUp .flapAbbr {
    display: none;
}

.flap .shortRowAbbr {
    display: none;
}

.cuffDown .toeUpAbbr {
    display: none;
}

.cuffDown.flap #look-here,
.cuffDown.shortRow #look-here,
.toeUp #look-here {
    display: none;
}

.crafting-post {
    text-align: center;
}

.crafting-post img {
    max-width: 100%;
}

span.posted-date {
    text-align: right;
    font-weight: bold;
    color: #666;
}

a.post-link {
    text-align: left;
}

.crafting-post a.img-link {
    opacity: .8;
    transition: opacity .5s ease;
}

.crafting-post a.img-link:hover {
    opacity: 1;
    transition: opacity .5s ease;
}

.crafting-post .row.post-info {
    margin-top: 10px;
    margin-bottom: 10px;
}
