/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hide {
    display: none;
}

#construction.toeUp {
    display: block !important;
}

#heel-choice.cuffDown {
    display: block !important;
}

#calculator.toeUp #toe-up-recipe,
#calculator.toeUp #shared-recipe {
    display: block !important;
}

#calculator.cuffDown.shortRow #shared-recipe,
#calculator.cuffDown.flap #shared-recipe,
#calculator.cuffDown.shortRow #cuff-down-recipe,
#calculator.cuffDown.flap #cuff-down-recipe {
    display: block !important;
}

#calculator.cuffDown.shortRow #shortRowInstructions,
#calculator.cuffDown.flap #flapInstructions {
    display: block !important;
}

footer {
    text-align: center;
    margin-top: 50px;
}
