<!DOCTYPE html>
<html lang="en" ng-app="sknApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Sock Knitter's Notebook</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/app.css">
        <!--- include angular.js in head for proper ng-cloak -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="calculator" ng-controller="StitchCalc" class="{{constrDir}} {{heelType}}">
                <h1>Generate a Sock Recipe</h1>
                <p>This page will walk you through building a personalized sock recipe so you can knit perfectly-fitted socks for everyone you know.  This gives you the basic outline of a vanilla sock--trial and error with this as a baseline will help you get that perfect comfy fit.</p>
                <p>Do not refresh the page, or all data will be lost and you will have to start over.</p>
                <h2>Gauge and Size Information</h2>
                <form name="calc-sts">
                    <p>
                        <label>Stitches per inch:
                            <input type="text" ng-model="stsPerIn"></input>
                        </label>
                    </p>
                    <p>
                        <label>Circumference of foot in inches:
                            <input type="text" ng-model="circumference"></input>
                        </label>
                    </p>
                    <p>
                        <label>Length of foot in inches:
                            <input type="text" ng-model="length"></input>
                        </label>
                    </p>
                </form>

                <h2>Construction Information</h2>

                <h3>Which direction do you want to knit the socks?</h3>
                <form>
                    <p><input type="radio" name="constrDir" value="toeUp" ng-model="constrDir"> Toe Up</input></p>
                    <p><input type="radio" name="constrDir" value="cuffDown" ng-model="constrDir"> Cuff Down</input></p>
                </form>
                <p id="construction" class="hide {{constrDir}}">Your toe-up sock recipe will include a short-row heel.</p>
            
                <div id="heel-choice" class="hide {{constrDir}}">
                    <!--- only show for cuff down -->
                    <h3>What kind of heel do you want to use?</h3>
                    <form>
                        <p><input type="radio" name="heelType" value="flap" class="top-down-heel" ng-model="heelType"> Heel flap with turn and gusset</input></p>
                        <p><input type="radio" name="heelType" value="shortRow" class="top-down-heel toe-up-heel" ng-model="heelType"> Short row heel</input></p>
                    </form>
                </div>

                <div class="hide" id="cuff-down-recipe">
                    <p>Cast on {{needSts(stsPerIn, circumference) | floorMult:4 | number}} stitches</p>
                </div>
                <div class="hide" id="toe-up-recipe">
                    <p>Toe up recipe here</p>
                </div>
            </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <script src="js/app.js"></script>
            <script src="js/filters.js"></script>
            <script src="view1/view1.js"></script>
            <script src="view2/view2.js"></script>
            <script src="components/version/version.js"></script>
            <script src="components/version/version-directive.js"></script>
            <script src="components/version/interpolate-filter.js"></script>
        </body>
</html>
